body {
    background-color: #FCF6DB;
    font-family: 'Playfair Display', serif;
}


.bg-header {
    background-color: #de3831;
}

.img1{
    height: 705px;
    padding-left: 200px;
}

.img2{
    height: 705px;
    padding-left: 250px;
}

.present{
    background-image: url("../imagenes/bg1.png");
    background-repeat: no-repeat;
    height: 827px;
    margin: 0 auto;
    width: 100%;

}
.act{
    background-image: url("../imagenes/bg2.png");
    background-repeat: no-repeat;
    height: 827px;
}

.active{
    background-image: url("../imagenes/bg3.png");
    background-repeat: no-repeat;
    
}

.comidas{
    background-image: url("../imagenes/bg4.png");
    background-repeat: no-repeat;
    
}

.contact{
    background-image: url("../imagenes/bg5.png");
}
.texto1{
    margin-top: 100px;
    
}
.texto1 h1{
    color:#EFEA50;
    font-size: 100px;
    margin-left: 150px;
}
.texto1 h2{
    font-size: 45px;
    margin: 0;
}
.texto1 p{
    font-size: 200px;
    margin-left: 45px;

}

.texto2{
    margin-top: 70px;
}

.texto2 h1{
    font-size: 100px;
    white-space: nowrap;
}
.texto2 h2{
    font-size: 40px;
    margin-left: 130px;
}
strong{
    font-size: 50px;
}

#logo {
    width: 134px;
    height: 50px;
    font-size: 0;
    background: url("../app/imagenes/logo.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 5px;
    bottom: 10px;
    left: 10px;
    height: 100px;
    z-index: 1;
}

.navbar-nav{
    position: relative;
}



@media (max-width: 991px) {
    #logo {
        left: calc(50% - 67px);
    }
    .nav-item {
        background: rgba(255, 255, 255, .1);
        margin: 1rem 0;
    }
    .nav-item:first-child{
        margin-top: 2rem;
    }
    .nav-item:hover {
        background: rgba(0, 0, 0, .1);
        
    }
}
@media (max-width: 1080px){

    .img1{
        height: 400px;
        padding-left: 300px;
    }

    .img2{
        height: 400px;
        padding-left: 200px;
    }

    .texto1 h1{
        font-size: 100px;
        text-align: center;
        margin: 0;
    }

    .texto1 h2{
        font-size: 45px;
        text-align: center;
    }

    .texto1 p{
        font-size: 150px;
        text-align: center;
        margin: 0;
    }
    
    .texto2 h1{
        font-size: 70px;
        white-space: nowrap;
        text-align: center;
    }
    .texto2 h2{
        font-size: 30px;
        margin-left: 130px;
        margin: 0;
    }
   .card-size {
    max-width: 50%;
   }
}
@media (max-width: 615px){

    .img1{
        height: 350px;
        padding-left: 220px;
    }

    .img2{
        height: 350px;
        padding-left: 200px;
    }


}
.navbar-toggler {
    border: none;
}

.navbar-toggler:active {
    box-shadow: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.bg-titulo {
    padding: 0 1.5rem;
    color: rgba(255, 255, 255, .8);
    margin-bottom: 1.5rem;
    position: relative;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    padding-left: 90px;
    line-height: 4.3rem;
    border-bottom: 8px solid rgba(0, 0, 0, 0.4);
}

section:nth-of-type(2) .bg-titulo {
    background: url("../app/imagenes/icono_historia.png") no-repeat 1rem center rgba(0, 0, 0, .7);
}

section:nth-of-type(3) .bg-titulo {
    background: url("../app/imagenes/icono_personajes.png") no-repeat 1rem center rgba(0, 0, 0, .7);
}

section:nth-of-type(4) .bg-titulo {
    background: url("../app/imagenes/icono_pelicula.png") no-repeat 1rem center rgba(0, 0, 0, .7);
}
section:nth-of-type(5) .bg-titulo {
    background: url("../app/imagenes/icono_temporada.png") no-repeat 1rem center rgba(0, 0, 0, .7);
}


.ancla {
    position: relative;
    top: -4.5rem;
}

footer ul {
    list-style: none;
    text-align: center;
}