
body {
    background-color: #FCF6DB;
    font-family: 'Playfair Display', serif; 
}


.bg-header {
    background-color: #de3831;
}

.img1{
    height: 705px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img2{
    height: 705px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img3{
    width: 300px;
    display: block;
    margin-left: 100px;
    margin-right: auto;
}

.present{
    background-image: url("../imagenes/bg1.png");
    background-repeat: no-repeat;
    height: 827px;
    background-position: center;
}
.act{
    background-image: url("../imagenes/bg2.png");
    background-repeat: no-repeat;
    height: 827px;
    background-position: center;
}

.active{
    background-image: url("../imagenes/bg3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.comidas{
    background-image: url("../imagenes/bg4.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.contact{
    background-image: url("../imagenes/bg5.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.texto1 h1{
    color:#EFEA50;
    font-size: 100px;
    margin-left: 150px;
}
.texto1 h2{
    font-size: 45px;
    margin: 0;
}
.texto1 p{
    font-size: 200px;
    margin-left: 45px;
}

.texto2{
    margin-top: 20px;
}

.texto2 h1{
    font-size: 80px;
    white-space: nowrap;
    margin-left: 100px;
}
.texto2 h2{
    font-size: 40px;
    margin-left: 130px;
}
strong{
    font-size: 50px;
}

#logo {
    width: 134px;
    height: 50px;
    font-size: 0;
    background: url("../app/imagenes/logo.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 5px;
    bottom: 10px;
    left: 10px;
    height: 100px;
    z-index: 1;
}

.txtContact{
    text-align: center;
}

.formulario{
    align-items: center;
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: #c3c1b5b5;
    border-radius: 20px;
    text-align: center;
    width: 100%;
}

.imput{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.titleContact{
    color:#283629;
    font-size: 35px;
}

.tituloForm{
    color:#283629;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

.txt{
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    border: 2px solid ;
    color: #283629;
    outline: none;
}

.Iconos{
    height: 200px;
    width: 200px;
    position:relative;
    left: 180px;
    margin-left: 100px; 
}

.iconoss{
    display: flex;
    padding-left: 5%;
    width: 600px;
}

.card-sizes{
    border-color: transparent;
    background-color: transparent;

}

.navbar-nav{
    position: relative;
}
.fondo{
    width: 200px;
    /* height: 500px; */
}
@media (max-width: 991px) {
    #logo {
        left: calc(50% - 50px);
    }

    .nav-item {
        background: rgba(255, 255, 255, .1);
        margin: 1rem 0;
    }

    .nav-item:first-child{
        margin-top: 2rem;
    }

    .nav-item:hover {
        background: rgba(0, 0, 0, .1);
    }

    .formulario{
        padding: 50px 30px;

    }

    .txt{
        padding:15px;
    }
}
@media screen and (min-width: 576px) and (max-width: 992px){
    .img1{
        height: 400px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .img2{
        height: 400px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .img3{
        width: 170px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .texto1{
        margin: 0;
    }

    .texto1 h1{
        font-size: 80px;
        text-align: center;
        margin: 0;
    }

    .texto1 h2{
        font-size: 35px;
        text-align: center;
    }

    .texto1 p{
        font-size: 130px;
        text-align: center;
        margin: 0;
    }
    
    .texto2 h1{
        font-size: 60px;
        white-space: nowrap;
        text-align: center;
        margin-left: 0px;
    }

    .texto2 h2{
        font-size: 30px;
        margin-left: 130px;
        margin: 0;
    }

   .card-size {
    max-width: 50%;
   }

   .iconoss{
    display: flex;
    justify-content: center;
    width: 700px;
    padding: 0;
}
}
@media screen and (min-width: 320px) and (max-width: 575px){
    #logo {
        left: calc(50% - 44px);
    }
body{
  width: 100%;
}

.img1{
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img2{
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.img3{
    width: 170px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.texto1{
    margin: 0;
}
.texto2 {
    margin: 0;
}
.texto1 h1{
    font-size: 70px;
    text-align: center;
    margin: 0;
}

.texto1 h2{
    font-size: 40px;
    text-align: center;
}

.texto1 p{
    font-size: 120px;
    text-align: center;
    margin: 0;
}

.texto2 h1{
    font-size: 40px;
    text-align: center;
    margin-left: 10px;
}
.texto2 h2{
    font-size: 25px;
    margin-left: 20px;

}
.act{
    background-image: url("../imagenes/bg2\ min.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.active{
    background-image: url("../imagenes/bg3\ min.png");
    background-repeat: no-repeat;
    width: 100%;

    
}

.comidas{
    background-image: url("../imagenes/bg4\ min.png");
    background-repeat: no-repeat;
    width: 100%;

    
}
.contact{
    width: 100%;
}
.iconoss{
    display: flex;
    width: 75%;
    padding-left: 0;
    justify-content: center;
}
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:active {
    box-shadow: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.bg-titulo {
    padding: 0 1.5rem;
    color: rgba(255, 255, 255, .8);
    margin-bottom: 1.5rem;
    position: relative;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    padding-left: 90px;
    line-height: 4.3rem;
    border-bottom: 8px solid rgba(0, 0, 0, 0.4);
}

.ancla {
    position: relative;
    top: -4.5rem;
}

footer ul {
    list-style: none;
    text-align: center;
}